/* manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: "Manrope", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	code {
		font-family: "Manrope", sans-serif;
	}
}

@layer components {
	.btn {
		@apply px-4 py-3 font-bold text-base rounded-lg box-border;
	}

	.btnLong {
		@apply w-[400px];
	}
	.btnShort {
		@apply w-[140px];
	}

	.btnPrimary {
		@apply bg-primaryMain text-textWhite;
	}

	.btnPrimary:hover {
		@apply bg-primaryDark;
	}

	.btnPrimary:focus {
		@apply bg-primaryDeep;
	}

	.btnPrimary:disabled {
		@apply bg-primaryLight;
	}

	.btnSecondary {
		@apply bg-textWhite text-primaryMain border border-primaryMain;
	}

	.btnSecondary:hover {
		@apply bg-primaryLightest border-primaryDark;
	}

	.btnSecondary:focus {
		@apply bg-primaryDeep text-textWhite;
	}

	.btnSecondary:disabled {
		@apply bg-textWhite text-primaryLight border-primaryLight;
	}
}
