.about-hero {
	background-image: url("../../Assets/mobile-banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 1024px) {
	.about-hero {
		background-image: url("../../Assets/desktop-banner.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.career {
	background-image: url("../../Assets/mobile-banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 1024px) {
	.career {
		background-image: url("../../Assets/desktop-banner.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
