# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
    push:
        branches: ["dev"]
    pull_request:
        branches: ["dev"]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [12.x, 14.x, 16.x]
        steps:
            - uses: actions/checkout@v3
            - name: Node LTS versions
              uses: msimerson/node-lts-versions@v1.1.1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              env:
                  FORCE_COLOR: 0
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - run: npm ci
            - run: npm run build --if-present
            - run: npm test
#     securityscan:
#         runs-on: ubuntu-latest
#         name: njsscan check
#         steps:
#             - name: Checkout the code
#               uses: actions/checkout@v2
#             - name: nodejsscan scan
#               id: njsscan
#               uses: ajinabraham/njsscan-action@master
#               with:
#                   args: "."
